.map-container{
    text-align: center;
    border:"2px solid black";

}


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.leaflet-container{
    height: 100vh;
}

.EventDisplay{
    margin-top:5%;
}